@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
    
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
  
}
.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #F55A5A;
}

.header .header--img {
    
}
.header > h1 {
    font-size: 24px;
    margin: 0 10px 0 10px;
}

.cards--container {
    display: flex;
    justify-content: center;
    padding: 30px;
  
    
   
}

.card {
    max-width: 600px;
    
    display: flex;
    justify-content: space-around;
    border-bottom: #918E9B solid 1px;
    padding-bottom: 20px;
}
    

.card--img {
    width: 125px;
    height: 168px;
} 

.card--info {
    
    width: 80%;
    padding: 5px 10px 20px 10px;
    
}

.card--info_point {
    font-size: 10px;
    display: flex;
    width:170px;
    justify-content: space-between;
    
} 

.card--info_point > a {
    text-decoration-line: underline;
    color: #918E9B;
}

.card--info_title {
    margin: 13px 0px 12px 0px;
    font-size: 25px;
    font-weight: 700;
    
}

.card--info_text > .date {
    font-size: 11px;;
}

.card--info_text > p{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 200;
    line-height: 16px;
}
